*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar css */

.navbar{
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  box-shadow: 0 10px 10px -3px grey;
  border-bottom: 0.7px solid grey !important;
}

.nav-link{
  font-weight: 200 !important;
}
.nav-link:hover{
  font-weight: 700 !important;
  color: black;
  background-color: rgb(255, 255, 255);
}

.active{
  border-bottom: 3px solid black;
}

.navbar-brand{
  letter-spacing: 3px;
}


/* page not found css */
.pnf{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.pnf-btn{
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}

.pnf-btn:hover{
  font-weight: 600px;
  font-size: large;
}




/* registration page css */
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
  flex-direction: column;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

.form{
  /* border: solid 3px black; */
  margin-top: 10px;
  padding: 10px 80px 10px 80px;
  box-shadow: 10px 1px 10px 5px grey;
  background-color: rgb(232, 232, 232);
}


/* product cards */
.product-link{
  text-decoration: none;
}